body{
    background : #155fff;
}
.Coronometr1{
    background:#fffaaa;
    position:center;
    text-align:center;
    width:90%;
    max-width:600px;
    padding:40px 0;
    margin:50px auto 0;
    border-radius : 50px;
    border-color: #ff8800;
    border-style: ridge ;
    border-width: 5px;
}
.ShowTimeClass{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:25px;
    margin-bottom:15px;
}
/* .Coronometr h1{
    margin-top:60px;
    font-size:70px;
    font-weight:400;
} */
.btns{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:25px;

}
#play ,#pause ,#reset{
    border-width:2px;
    border-color:#a56fff;
    border-style:solid;
    padding:3px;
    border-radius:5px;
    cursor: pointer;
}
#play:hover ,#pause:hover ,#reset:hover{
    border-color:#f95599;
}
//=========================================
